#!/usr/bin/make -f
# Derived from Marcelo's and dh_make's rules files.

#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	xmkmf
	$(MAKE) CDEBUGFLAGS="-g -O2 -Wall -fno-strength-reduce"
	touch $@

clean:
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) clean
	dh_clean build-stamp Makefile

binary-indep:
# There aren't any architecture-independent files here.

binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k
	$(MAKE) install install.man DESTDIR=`pwd`/debian/tmp BINDIR=/usr/bin MANPATH=/usr/share/man
	dh_installdocs README
	dh_installchangelogs
	dh_installmenu
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
