#!/usr/bin/make -f

package=wmload

SHELL=/bin/sh

export DH_VERBOSE = 1

build: build-stamp

build-stamp:
	dh_testdir
	xmkmf -a
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-make clean
	-rm -f build-stamp Makefile
	dh_clean

binary-indep: build
#	dh_testdir -i
#	dh_testroot
#	dh_clean -i -k

binary-arch: build
	dh_testdir -a
	dh_testroot
	dh_clean -a -k
	dh_installdirs -a
	install -m 755 -s wmload debian/tmp/usr/X11R6/bin/wmload
	dh_installdocs -a
	dh_installmenu -a
	dh_installmanpages -a
	dh_installchangelogs -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a -u-isp
	dh_makeshlibs -a
	dh_md5sums -a
	dh_builddeb -a

binary:	binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean build

# Local variables:
# mode: makefile
# mode: font-lock
# End:







